<div class="row">
  <div class="col-md-9 centered">
    <form role="form">
      <div class="input-group input-group-lg">
        
        <input type="search" ng-keyup="onTypeahead(searchVal)"
          data-ng-model="searchVal"
          class="form-control input-lg"
          placeholder="Поиск книг" />
        
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" data-ng-click="onSearch()">
            Найти
          </button>
        </span>

      </div>
      
      <span class="help-block">
        Например, 
        <abbr data-ng-click="onHelp(searchExample)" data-ng-attr-title="{{searchExample}}">
          {{searchExample}}
        </abbr>
      </span>

    </form>    
  </div>    
</div>