<div class="col-md-2">
  <img
    src="http://placehold.it/70x60"
    alt=""
    class="img-rounded"
  />
</div>
<div class="col-md-7">
  <div class="f-ellipsis-text">
    <a data-ng-href="#!/books/{{book.id}}" class="text-primary">
      {{book.name}}
    </a>
  </div>
  <div class="f-ellipsis-text">
    <a data-ng-href="#!/authors/{{book.authorId}}" class="text-muted">
      {{book.author}}
    </a>
  </div>
  <rating
    data-readonly="true"
    data-value="book.rating"
    data-votes="book.votes">
  </rating>

</div>
<div class="col-md-3 f-list-book-date">
  {{book.date}}
</div>