<div class="f-list-votes">
  <!-- like / vote buttons / ratio !-->
  <span class="glyphicon glyphicon-thumbs-down"></span>

  <span class="f-cursor-hand">
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </span>

  <span class="glyphicon glyphicon-thumbs-up"></span>

  <span class="col-md-offset-1">0.0 (0)</span>
  
</div>