<div class="col-md-6">

  <div class="row" style="text-align:center;">
    <h3>Новинки</h3> 
  </div>

  <div class="row" data-ng-repeat-start="book in books">
    <div class="col-md-2">
      <img
        src="http://placehold.it/70x60"
        alt=""
        class="img-rounded"
      />
    </div>
    <div class="col-md-7">
      <div>
        {{book.author}}
      </div>
      <div class="f-ellipsis-text">
        {{book.name}}
      </div>
      <div>
        <!-- like buttons !-->
      </div>

    </div>
    <div class="col-md-3 f-list-book-date">
      {{book.date}}
    </div>
  </div>

  <hr data-ng-repeat-end="" />


</div>
